html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#scrollbar{
    display: block;
    position: fixed;
    height:50vh;
    width: 1vw;
    top:25vh;
    right: 1vw;
    border-radius: 1vw;
    border: 0.25vw solid white;
    background-color: white;
    overflow: hidden;
    z-index: 10;
}
#prog{
    position: relative;
    height:50vh;
    width: 1vw;
    top:-84%;
    background-color: red;
    transition: 0.5s;
}


#Caleb , #HongXi, #Leyang, #Jerald, #Valentine, #Ilakiya{
    height: 85vh;
    border: 5px solid black;
    margin-bottom: 3px;
}

#Caleb {
    background-color: red;
}
#HongXi{
    background-color: orange;
}
#Leyang{
    background-color: yellow;
}

#Jerald{
    background-color: green;
}
#Valentine{
    background-color: blue;
}
#Ilakiya{
    background-color: purple;
}

.leftside{
    width: 33%;
    text-align: center;
    font-size: 30px;
}

.ff{
    display: block;
    position: absolute;
    width:66%;
    left:33%;
    font-size: 30px;
    margin-right: 1%;
    text-align: center;
}

ol,ul{
    text-align: left;
}

@keyframes swim{
    0%{transform: rotateY(0deg);}
    5%{transform: rotateY(180deg);}
   50%{transform: translate(15vw) rotateY(180deg)}
   55%{transform: translate(15vw) rotateY(0deg)}
   100%{transform: translate(0vw) rotateY(0deg);}
}

@keyframes typhoon{
   35%{transform: translate(-40vw,5vh)}
   55%{transform: translate(-20vw,-5vh)}
   85%{transform: translate(10vw,-2vh)}
   100%{transform: translate(0vw,0vh)}
}

@keyframes fly{
    5%{transform: rotateZ(45deg)}
    25%{transform:  translate(15vw) rotateZ(45deg)}
    30%{transform: translate(15vw) rotateZ(135deg)}
   50%{transform: translate(15vw,15vw) rotateZ(135deg)}
   55%{transform: translate(15vw,15vw) rotateZ(225deg)}
   75%{transform: translate(0,15vw) rotateZ(225deg)}
   80%{transform: translate(0,15vw) rotateZ(315deg)}
   100%{transform: translate(0vw,0) rotateZ(315deg) }

}

#swim{
    display: inline-block;
    position: relative;
    animation-name: swim;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#typhoon{
    display: inline-block;
    position: relative;
    animation-name: typhoon;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#fly{
    display: inline-block;
    position: relative;
    animation-name: fly;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes book-appear{
    from{opacity: 0%; transform: translateY(-100%);}
    to{opacity: 100%; transform: translateY(0%);}
}

#book{
    display: inline-block;
    position: relative;
    animation-name: book-appear;
    animation-duration: 0.75s;

}

/* Leyang's code */
.leyang-tries-webdev-but-fails-horribly {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
  
.letter {
    display: inline-block;
    transform-origin: top center;
    transform-box: fill-box;
}

.swing-a,
.swing-n {
    transform-origin: center -200%;
}

.text-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
    font-size: 22px;
}

.wrapper {
    position: relative; 
    display: inline-block;
}

.help-me {
    display: flex;
    flex-direction: row;
}

#helpline {
    all: unset;
    color: blue;
    font: inherit;
}
/*  */